*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3084d9, #00F260);

    font-family: 'Gemunu Libre', sans-serif;
}
.content_one{
	background: linear-gradient(to right, #00F260,#3084d9 );
    height: 370px;
	width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

body{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3084d9, #00F260);

    font-family: 'Gemunu Libre', sans-serif;
}


.container{
    margin: 0 auto;
    width: 90%;
    /*max-width: 1200px;*/
    overflow: hidden;
}

.hero{
    background-color: #f6f6f6;
    background-size: cover;
    height: 80%;
    /*min-height: 500px;*/
    /*height: 100vh;*/
    color: #2196f3;
}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{
    font-size: 5rem;
    z-index: 1;
    line-height: 45px;
    width: 80px;
    margin-right: 10px;
}


.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    width: 40px;
}

.nav__links{
    background-color: #000;
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color:blue;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

/*seccion del main*/

.conten{
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: blueviolet;
    padding: 40px 15px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.principal{
    width: 100%;
    margin: auto;
    display: flex; 
    flex-direction: column;
}

h2{
    width: 100%;
    padding: 10px;
    position: relative;
}

.information{
    padding: 10px 5px;
    align-items: flex-end;
}

.imagen{
    width: 80%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*canbia segun el html*/
.perfilporta{
    line-height: 40px;
    width: 300px;
    height: 150px;
    margin-right: 2px;
    border-radius: 15%;
}

.ulpost{
    font-family: 'Gemunu Libre', sans-serif;
    list-style: none;
    border: none;
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
    text-align: center;
    
}

.link_ur{
    color: #000;
    text-decoration: none;
}

.link_ur:hover{
    color: #0575E6;
}

/*footer*/
.footer{
    width: 100%;
    background-color: #f6f6f6;
}
.footer .grup_one{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
}
.footer .grup_one .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grup_one .box figure img{
    display: inline-block;
    line-height: 45px;
    width: 60px;
    margin-right: 5px;
}

.footer .grup_two{
    background-color: #0575E6;
    padding: 5px 5px;
    text-align: center;
	
    
    
}
.footer .grup_two small{
    font-size: 12px;
}
/*paraa pantallas de computadora*/
@media (min-width:768px) {
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        color: rgba(0, 0, 0, 0.836);
        font-size: 1rem;
        letter-spacing: none;
    }
    .nav__link:hover{
        color: #2196f3;
    }

    /*parte del contenido*/
    .conten{
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section{
        background-color: #f6f6f6;
        padding: 40px 15px;
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .principal{
        /*flex: 1;*/
        margin: 0;
        display: flex; 
        flex-direction: column;
    }

    h2{
        padding: 10px;
        align-items: flex-start;
    }

    .information{
        padding: 10px 5px;
        align-items: flex-end;
    }

    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*footer*/
    .footer{
        width: 100%;
        background-color: #0575E6;
    }

    .footer .grup_one{
        width: 100%;
  
    }

    .footer .grup_one .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .grup_one .box figure img{
        display: inline-block;
        line-height: 45px;
        width: 80px;
        margin-right: 10px;
    }

    .footer .grup_two{
        background-color: #0575E6;
        padding: 10px 10px;
        text-align: center;
    }
    .footer .grup_two small{
        font-size: 15px;
    }
}